<section class="navbar main-menu">
    <div class="navbar-inner main-menu">
        <a href="/" class="logo pull-left"><img src="/assets/logo.png" class="site_logo" alt=""></a>
        <nav id="menu" class="pull-right">
            <ul>
                <li><a href="#">Categories</a>
                    <ul>
                        <li><a *ngFor="let cate of arrCate" href="/detail/{{ cate._id }}">
                      {{ cate.name }}
                  </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>