<div class="main">
    <mat-grid-list cols="4" rowHeight="33rem">
        <mat-grid-tile *ngFor="let book of books">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{book.name}}</mat-card-title>
                    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="book.imagePath">
                <div class="price">Giá bán: {{book.price.toLocaleString('vn')}} Đồng</div>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Mua ngay</button>
                    <button mat-stroked-button color="primary">Chi tiết</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>