mat-card {
    margin: 0.5rem;
}

.main {
    height: 100%;
    padding: 1rem;
    background-color: #ecf0f1;
}

.price {
    padding-left: 1rem;
    font-weight: bold;
    color: red;
}

h1 {
    margin: 0;
    padding: 1rem;
    font-weight: 500;
    width: auto;
    background-color: #f5db87;
}

mat-nav-list {
    border-style: ridge;
    border-color: #f5db87;
    padding: 0;
}

a.active {
    background-color: green !important;
}

a {
    border-style: ridge;
    border-color: #f5db87;
    border-bottom: 0;
    padding-left: 3rem;
}

mat-drawer {
    background-color: #ffeaa7;
    width: 18%;
}

mat-drawer-container {
    height: 100%;
}