mat-form-field {
    width: 100%;
}

.body {
    background-image: url("../../home/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2rem;
}

mat-card {
    width: 80%;
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}