
<!-- ================ start banner area ================= -->	
   <section class="blog-banner-area" id="blog">
    <div class="container">
      <img src="../img/home/parallax-bg.png" alt="Snow" height="410" width="1110">
       <div class="blog-banner">
        <div class="text-center">
          <h1>{{banner}}</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><h2 href="#"> Shopii </h2></li>
              <li class="breadcrumb-item active" aria-current="page">{{banner}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->