<section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href="/">Homepage</a></li>
            </ul>
        </div>
        <div class="span4">
            <h4>Wellcome</h4>
            <p>
                HCMUS - ECommerce - B20B01_Team
            </p>
        </div>
        <div class="span5">
            <p class="logo"><img src="assets/images/logo.png" class="site_logo" alt=""></p>
            <p>Thương mại điện tử CQ2017_2020</p>
            <br/>
            <span class="social_icons">
      <a class="facebook" href="#">Facebook</a>
      <a class="twitter" href="#">Twitter</a>
      <a class="skype" href="#">Skype</a>
      <a class="vimeo" href="#">Vimeo</a>
    </span>
        </div>
    </div>
</section>