 {{> banner}}
<body>

    <section class="section-margin calc-60px">>
       <div class="container" style="text-align-last: center;">
              <div class="section-intro pb-60px">
                 <h2>Admin </h2>
                 </div>
       </div>
    <section class="section-margin calc-60px">>
        <div class="container">
              <div class="section-intro pb-60px">
               
                <div class="row" style="width: 1500px; height: 371px;">
                    {{#each hoaDon_c}}
                    <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="{{imagepath}}" alt="">
                            </div>
                            <div class="card-body">
                                <p>{{name}}</p>
                                <h4 class="card-product__title"><a href="#">Amount sold</a></h4>
                                <p class="card-product__price">{{sl}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{!-- <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="img/product/product2.png" alt="">
                            </div>
                            <div class="card-body">
                                <p>Python</p>
                                <h4 class="card-product__title"><a href="#">Amount sold</a></h4>
                                <p class="card-product__price">233</p>
                            </div>
                        </div>
                    </div>
                    <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="img/product/product3.png" alt="">
                            </div>
                            <div class="card-body">
                                <p>Java</p>
                                <h4 class="card-product__title"><a href="#">Amount sold</a></h4>
                                <p class="card-product__price">234</p>
                            </div>
                        </div>
                    </div>
                    <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="img/product/product3.png" alt="">
                            </div>
                            <div class="card-body">
                                <p>Java</p>
                                <h4 class="card-product__title"><a href="#">Amount sold</a></h4>
                                <p class="card-product__price">234</p>
                            </div>
                        </div>
                    </div>
                    <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="img/product/product3.png" alt="">
                            </div>
                            <div class="card-body">
                                <p>Java</p>
                                <h4 class="card-product__title"><a href="#">Amount sold</a></h4>
                                <p class="card-product__price">234</p>
                            </div>
                        </div>
                    </div> --}}
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: revert">Teacher</th>
                            <th style="text-align: revert">SQL</th>
                            <th style="text-align: revert">Python</th>
                            <th style="text-align: revert">JavaScript</th>
                            <th style="text-align: revert">HTLM</th>
                            <th style="text-align: revert">CSS</th>
                            <th style="text-align: revert">Amount Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tien</td>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                            <td>e</td>
                            <td>f</td>
                        </tr>
                        <tr>
                            <td>Diem</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Tran</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Toan</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    

</body>

</html>