{{> banner }}
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img class="card-img rounded-0" src="img/blog/cat-post/cart3.png" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="single-blog.hbs">
                                <h5>Class A</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Teacher A</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img class="card-img rounded-0" src="img/blog/cat-post/cart2.png" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="single-blog.hbs">
                                <h5>Class B</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Teacher B</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img class="card-img rounded-0" src="img/blog/cat-post/cart1.png" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="single-blog.hbs">
                                <h5>Class C</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Teacher C</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <div class="row"
                    style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">
                    <h4 style=" margin: 0 auto;">Tiêu đề: Mưa lớn ở TP.HCM, ôtô 'bơi' giữa dòng nước</h4>
                </div>
                <div class="row">
                    <div class="col-md-3"
                        style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;">
                        <p style="margin: auto; margin-top:10px;">Chiều 4/6, nhiều tuyến đường ở quận Thủ Đức ngập sâu
                            sau mưa lớn. Hàng loạt xe cộ chết máy, người dân phải lội nước về nhà.</p>
                    </div>
                    <div class="col-md-9" style="margin: auto; margin-top: 10px;margin-bottom: 10px;">
                        <iframe width="720" height="400" src="https://www.youtube.com/embed/gIoTgh0xU8U" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;">
                <label style="margin: auto;  margin-top: 160px;"><input type="checkbox" value="">Complete</label>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-11">
                <div class="row"
                    style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">
                    <h4 style=" margin: 0 auto;">Tiêu đề: Mưa lớn ở TP.HCM, ôtô 'bơi' giữa dòng nước</h4>
                </div>
                <div class="row">
                    <div class="col-md-3"
                        style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;">
                        <p style="margin: auto; margin-top:10px;">Chiều 4/6, nhiều tuyến đường ở quận Thủ Đức ngập sâu
                            sau mưa lớn. Hàng loạt xe cộ chết máy, người dân phải lội nước về nhà.</p>
                    </div>
                    <div class="col-md-9" style="margin: auto; margin-top: 10px;margin-bottom: 10px;">
                        <iframe width="720" height="400" src="https://www.youtube.com/embed/gIoTgh0xU8U" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;">
                <label style="margin: auto;  margin-top: 160px;"><input type="checkbox" value="">Complete</label>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-sm-11">
                <div class="row"
                    style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">
                    <h4 style=" margin: 0 auto;">Tiêu đề: Mưa lớn ở TP.HCM, ôtô 'bơi' giữa dòng nước</h4>
                </div>
                <div class="row">
                    <div class="col-md-3"
                        style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;">
                        <p style="margin: auto; margin-top:10px;">Chiều 4/6, nhiều tuyến đường ở quận Thủ Đức ngập sâu
                            sau mưa lớn. Hàng loạt xe cộ chết máy, người dân phải lội nước về nhà.</p>
                    </div>
                    <div class="col-md-9" style="margin: auto; margin-top: 10px;margin-bottom: 10px;">
                        <iframe width="720" height="400" src="https://www.youtube.com/embed/gIoTgh0xU8U" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="margin: auto;outline-style: solid; margin-top: 10px;margin-bottom: 10px;">
                <label style="margin: auto;  margin-top: 160px;"><input type="checkbox" value="">Complete</label>
            </div>

        </div>
        <hr>




    </div>
</section>


<!--================Blog Area =================-->