<main class="site-main">

  <!--================ Hero banner start =================-->
  <section class="hero-banner">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__img">
            <img class="img-fluid" src="/img/home/hero-banner.png" alt="">
          </div>
        </div>
        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
          <div class="hero-banner__content">
            <h4>Learn is fun</h4>
            <h1>Browse Our Premium Courses</h1>
            <p>If you are not willing to learn, no one can help you. If you are determined to learn, no one can stop
              you..</p>
            <a class="button button-hero" href="#">Browse Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero banner start =================-->

  <!--================ Hero Carousel start =================-->
  <section class="section-margin mt-0">
    <div class="owl-carousel owl-theme hero-carousel">
      {{#each Categories}}
      <div class="hero-carousel__slide" style="width: 400px; margin-top: 105px; padding-left:100px">
        <img src="{{imagepath}}" alt="" class="img-fluid">
        <a href="/courses?category={{id}}" class="hero-carousel__slideOverlay">
          <h3>{{name}}</h3>
          <p>{{summary}}</p>
        </a>
      </div>
      {{/each}}
    </div>
  </section>
  <!--================ Hero Carousel end =================-->

  <!-- ================ trending product section start ================= -->
  <section class="section-margin calc-60px">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Popular Item in the market</p>
        <h2>Trending <span class="section-intro__style">Product</span></h2>
      </div>
      <div class="row">
        {{#each trendingProducts}}
        <div class="col-md-6 col-lg-4 col-xl-3">
          {{> product}}
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <!-- ================ trending product section end ================= -->

  <!-- ================ offer section start ================= -->
  <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px"
    data-top-bottom="background-position: 0 20px">
    <div class="container">
      <div class="row">
        <div class="col-xl-5">
          <div class="offer__content text-center">
            <h3>Up To 50% Off</h3>
            <h4>Course Sale</h4>
            <p>Best developer courses for beginer 2020</p>
            <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ offer section end ================= -->
</main>