

{{> banner}}

<section class="blog_area">
    <div class="container">
        {{#each content}}
          <h6></h6>
         <p></p>
        <div class="row">
            <div class="col-sm-11">
                <div class="centera">

                    <h4 class="button button-hero" >{{lesson}}</h4>
                </div>
                <div class="row">
                    <div class="col-md-3"
                        style="margin: auto;outline-style:hiden;width:10%; margin-top: 10px;margin-bottom: 10px;">
                        <h5></h5>
                        <h5>Mô tả:</h5>
                        <p style="margin: auto; margin-top:10px;">Mô tả: {{description}}</p>
                    </div>
                    <div class="col-md-9" style="margin: auto; margin-top: 10px;margin-bottom: 10px;">
                        <iframe width="720" height="400" src="{{link}}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" >
                <label style="margin: auto;  margin-top: 160px;"><input type="checkbox" value="">Complete</label>
            </div>
              <div class="centera">

                    <h4>______________________________________</h4>
                </div>
       
        </div>
       
        {{/each}}
       



    </div>
</section>
 

