        .main {
            padding: 5rem;
            background-color: #ecf0f1;
        }
        
        mat-card {
            border-radius: 10px;
            margin: 2rem;
            background-color: #ffeaa7;
        }
        
        p {
            text-align: justify;
            margin: 1rem;
        }
        
        .introduction {
            background-color: green;
        }
        
        mat-card-content {
            border-radius: 10px;
            padding: 0.5rem;
            background-color: #ffeaa7;
        }
        
        td {
            padding-top: 0.5rem;
            vertical-align: top;
        }
        
        table {
            margin: 1rem;
            width: 90%;
        }
        
        th {
            text-align: left;
        }
        
        .title {
            font-weight: bold;
            font-size: x-large;
        }
        
        img {
            object-fit: contain;
            width: 15rem;
            height: 25rem;
        }
        
        .image {
            width: 40%;
        }
        
        .price {
            padding: 3rem 0;
            color: green;
            font-weight: bold;
            font-size: xx-large;
        }
        
        .favorite {
            margin-left: 1rem;
            vertical-align: middle;
            width: 3rem;
            height: 3rem;
        }
        
        button {
            font-size: larger;
            width: 18rem;
            height: 3.6rem;
        }
        
        img {
            width: 100%;
        }
        
        .primary {
            color: green;
        }