<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Member</title>
</head>

<body>
    <form action="/AddMember" method="POST" enctype="multipart/form-data">
        <input type="text" name="stt" placeholder="stt" />
        <input type="text" name="hoten" placeholder="hoten" />
        <input type="text" name="mssv" placeholder="mssv" />
        <input type="text" name="Addressmail" placeholder="Addressmail" />
        <input type="text" name="EmailSV" placeholder="EmailSV" />
        <input type="text" name="IDTeam" placeholder="IDTeam" />
        <input type="file" name="MemberImg" />
        <input type="text" name="txtFile" placeholder="File name" />
        <input type="submit" name="btnAdd" value="Add member" />
    </form>
</body>

</html>