body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #7c7c7c;
}
#menu li a
{
font-family: 'changa one', cursive;
color: #2e2d2d;
}
#menu li a:hover{
color: #2fa005;
}
#menu ul li.active a{
    color: red;
}
#banner{
    background: url(../images/bg4.jpg) center bottom repeat ;
    color: white;
    padding: 110px 0 40px;
}
#banner h4{
    font-size: 60px;
    line-height: 60px;
    font-family: 'changa one', cursive;
    font-weight: 900 ;
    letter-spacing: 1px;
}
#main{
    padding-top: 20px;
}
#main h4 {
    padding-top: 20px;
}
.hinh{
    border-radius: 50%;
}
.about{
    background: #fa97c2;
    color: #814e64;
}
.about h3{
    font-size: 40px;
    font-family: 'changa one', cursive;
    font-weight: bold;
    color: white;
    margin: 10px 0;

}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
.aboutus h3{
   
    font-size: 40px;
    font-family: 'squirel', cursive;
    font-weight: bold;
    color: #0a0a0a;
    margin: 10px 0;
}
.footer{
    background: #302f2f ;
    text-align: center;
    padding: 20px;
    left: 0;
   
    bottom: 0;
    right: 0;
    
}
.footer2{
    background: #302f2f ;
    text-align: center;
    padding: 20px;
    left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.footer img{
    border-radius: 50%;
}
