<!doctype html>
<html lang="en">

<head>
    <title>1612687 - Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=changa+one" type="text/css">
    <link rel="stylesheet" href="css/1612687.css">
    
</head> <!--header-->

<body>
   

    <header class="container" >
        <nav class="navbar navbar-expand-sm navbar-light px-0">
            <a class="navbar-brand" href="#">
                <img src="images/logo1.png" alt="">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#menu" aria-controls="menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Danh muc
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Giày</a>
                              <a class="dropdown-item" href="#">Áo kiểu</a>
                              <a class="dropdown-item" href="#">Túi kiểu</a>
                              <a class="dropdown-item" href="#">Váy kiểu</a>
                            </div>
                         
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <!--/header-->
     <!--MAIN--> 
     <div class="container">
         <div class="row">
             <div class="col-3">
                <div class="card" >
                    <img class="card-img-top" src="images/img_me1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">giay nike 334</h5>
                    
                      <a href="des.html" class="btn btn-primary">Chi tiet</a>
                    </div>
                  </div>
             </div>
             <div class="col-3">
                <div class="card" >
                    <img class="card-img-top" src="images/img_me1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">giay nike 334</h5>
                    
                      <a href="#" class="btn btn-primary">Chi tiet</a>
                    </div>
                  </div>
             </div>
              <div class="col-3">
                <div class="card" >
                    <img class="card-img-top" src="images/img_me1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">giay nike 334</h5>
                  
                      <a href="#" class="btn btn-primary">Chi tiet</a>
                    </div>
                  </div>
             </div>
             <div class="col-3">
                <div class="card" >
                    <img class="card-img-top" src="images/img_me1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">giay nike 334</h5>
      
                      <a href="#" class="btn btn-primary">Chi tiet</a>
                    </div>
                  </div>
             </div>
         </div>
     
      
    </div>
     <!--/MAIN-->

    <!--footer-->
    <div class="footer font-small cyan darken-3 footer2">
      <a  data-toggle="tooltip" title="Đi tới facebook!"> <img src="images/fb.jpg" alt="" width="50px" height="50px"></a>
       <p>@coppyright by 1612687</p>
    </div><!--/footer-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
            });
            </script>
</body>

</html>