<div class="body">
    <h1 class="intro-label">
        Introduction:</h1>
    <ol>
        <h1>Nhóm HCMUS-EC-20B01:</h1>
        <li>
            <h3>1712824 - Thái Vĩnh Toàn - Nhóm trưởng</h3>
        </li>
        <li>
            <h3>1712341 - Phan Thị Mỹ Diễm - Thư ký</h3>
        </li>
        <li>
            <h3>1612687 - Nguyễn Thị Mỹ Tiên</h3>
        </li>
        <li>
            <h3>1712368 - Nguyễn Hữu Dũng</h3>
        </li>
        <li>
            <h3>1712828 - Huỳnh Thanh Khải Trân</h3>
        </li>
    </ol>
</div>
