.body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.3rem;
    padding-top: 5rem;
    padding-left: 5rem;
}

th {
    text-align: center !important;
    background-color: #f0d271;
    font-weight: bold;
    font-size: larger;
}

td {
    text-align: center;
}

table {
    background-color: #ffeaa7;
    width: 80%;
}