<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>{{banner}}</h1>
				{{!-- <nav aria-label="breadcrumb" class="banner-breadcrumb"> --}}
					{{!-- <ol class="breadcrumb"> --}}
						<div class="col-md-9" style="margin: auto; margin-top: 10px;margin-bottom: 0px;">
                            <iframe width="1000" height="400" src="https://www.youtube.com/embed/viHILXVY_eU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{{!-- <li class="breadcrumb-item"><a href="">Home</a></li> --}}
						<li class="breadcrumb-item active" aria-current="page">{{banner}}</li>
					{{!-- </ol> --}}
				{{!-- </nav> --}}
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->
{{!-- <section class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="/Projects/public/img/home/banner.png" alt="" />
			</li>
			<li>
				<img src="img/home/banner.jpg" alt="" />
				<div class="intro">
					<h1>Mid season sale</h1>
					<p><span>Up to 50% Off</span></p>
					<p><span>On selected items online and in stores</span></p>
				</div>
			</li>
		</ul>
	</div>
</section> --}}