  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="img/home/hero-banner.png" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h2>Shop is fun </h2>
              <h3> </h3>
              <h4>Nhóm EC-20B01 </h4>
              <br>1712828 - Huỳnh Thanh Khải Trân 
              <br>1612687 - Nguyễn Thị Mỹ Tiên 
              <br>1712368 - Nguyễn Hữu Dũng 
              <br>1712341 - Phan Thị Mỹ Diễm <br> 1712824 - Thái Vĩnh Toàn <br>
               _______________________ 
               <br> <br> <br>
              <h5>Bài tập sample web thực hiện bởi sv:</h5>
              <h6>1712828 - Huỳnh Thanh Khải Trân</h6>
              <br> <br> <br>
              <a class="button button-hero" href="/products">Xem Sản Phẩm</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
    <section class="section-margin mt-0">
      <div class="owl-carousel owl-theme hero-carousel">
        {{#each categories}}
        <div class="hero-carousel__slide">
          <img src="{{ imagepath }}" alt="" class="img-fluid">
          <a href="#" onclick="selectLink('category',{{id}})" class="hero-carousel__slideOverlay">
            <h3>{{name}}</h3>
             </a>
        </div>
        {{/each}}
      
      
      </div>
    </section>
    <!--================ Hero Carousel end =================-->

   
    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Up To 50% Off</h3>
              <h4>Winter Sale</h4>
              <p>Him she'd let them sixth saw light</p>
              <a class="button button--active mt-3 mt-xl-4" href="/products">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> 

    <!-- ================ Best Selling item  carousel ================= --> 
   
    <!-- ================ Blog section end ================= -->  

    <!-- ================ Subscribe section start ================= --> 
    <section class="subscribe-position">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Get Update From Anywhere</h3>
          <p>Bearing Void gathering light light his eavening unto dont afraid</p>
        
          
        </div>
      </div>
    </section>
    <!-- ================ Subscribe section end ================= --> 

  <script>
  function selectLink(key, value){
    let url = `/products?${key}=${value}`;
    location.href = url;
  }
</script> 

  </main>